<!doctype html>
<html ng-app="gig">
    <head>
        <title>GIG Challenge</title>
        <style>[ng-cloak] { display: none; }</style>
        <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-route/angular-route.js"></script>
        <script src="node_modules/country-list/country-list-cli.js"></script>
        <script src="js/app.js"></script>
        <script src="js/country/CountriesList.js"></script>     
        <script src="js/country/CountryNameFilter.js"></script>     
        <script src="js/contacts-list/ContactListController.js"></script>
        <script src="js/contact/ContactService.js"></script>     
        <script src="js/contact/ContactController.js"></script>        
        <script src="js/contact/ContactDirective.js"></script>        
        <script src="js/utils/EmailValidator.js"></script>
    </head>
    <body>
        <div class="container-fluid" ng-view></div>
    </body>
    
    <script type="text/ng-template" id="contacts-list.html">
        <div>
            <div class="page-header">
                <h4>Contacts:</h4>
            </div>
            
            <p>
                <a class="btn btn-primary" ng-href="#/add" role="button">Add Contact</a>
            </p>    
            
            <ul class="list-group">
                <li class="list-group-item"> 
                    <div class="row">
                        <h4 class="row text-center">
                            <span class="col-md-3">First name</span>
                            <span class="col-md-3">Last name</span>
                            <span class="col-md-3">Email</span>
                            <span class="col-md-2">Country</span>
                            <span class="col-md-1"></span>
                        </h4>
                    </div>
                </li>        
                <div class="well well-lg text-center" ng-show="!contacts.length">Contacts list is empty!</div>
                <contact class="list-group-item" ng-repeat="contact in contacts | orderBy: 'firstname' "></contact>            
            </ul>         
            
            <p>
                <a class="btn btn-primary" ng-href="#/add" role="button">Add Contact</a>
            </p>
        </div>
    </script>
    
    <script type="text/ng-template" id="contact.html">
        <li class="list-group-item">
            <div class="row">
                <span class="col-md-3">{{contact.firstname}}</span>
                <span class="col-md-3">{{contact.lastname}}</span>
                <span class="col-md-3">{{contact.email}}</span>
                <span class="col-md-2">{{contact.country | countryName }}</span>
                <span class="col-md-1">
                    <a class="btn btn-default" ng-href="#/edit/{{contact.id}}" role="button" title="Edit Contact">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>            
                    <button class="btn btn-danger" ng-click="removeContact(contact.id)" title="Remove Contact">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>          
                </span>
            </div>
        </li>
    </script>
    
    <script type="text/ng-template" id="contact-form.html">
        <div>
            <div class="page-header">
                <h4>{{contact.id ? 'Edit' : 'Add'}} Contact:</h4>
            </div>
            
            <form name="contactForm" novalidate>
                <div class="form-group">
                    <label for="firstname">
                        <span>First name:</span>
                        <input id="firstname" name="firstname" class="form-control" type="text" ng-model="contact.firstname" required autofocus>                         
                    </label>
                    <span class="text-danger" ng-show="contactForm.firstname.$touched && contactForm.firstname.$error.required">This field is required!</span>
                </div>
                <div class="form-group">
                    <label for="lastname">
                        <span>Last name:</span>
                        <input id="lastname" name="lastname" class="form-control" type="text" ng-model="contact.lastname" required>                         
                    </label>
                    <span class="text-danger" ng-show="contactForm.lastname.$touched && contactForm.lastname.$error.required">This field is required!</span>
                </div>
                <div class="form-group">
                    <label for="email">
                        <span>Email:</span>
                        <input id="email" name="email" class="form-control" type="text" ng-model="contact.email"  email-validator required> 
                    </label>
                    <span class="text-danger" ng-show="contactForm.email.$touched && contactForm.email.$error.required">This field is required!</span>
                    <span class="text-danger" ng-show="contactForm.email.$touched && contactForm.email.$error.email">Please enter a valid email address</span>                    
                </div>
                <div class="form-group">
                    <label for="country">
                        <span>Country:</span>
                        <select id="country" name="country" class="form-control" ng-model="contact.country" required>
                            <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</option>
                        </select>                         
                    </label>
                    <span class="text-danger" ng-show="contactForm.country.$touched && contactForm.country.$error.required">This field is required!</span>
                </div>
                <div class="form-group">
                    <button class="btn" 
                            ng-click="saveContact()" 
                            ng-disabled="contactForm.$invalid" 
                            ng-class="{'btn-default':contactForm.$invalid, 'btn-primary':contactForm.$valid}"
                            title="{{contactForm.$invalid ? 'Please fill all required fields before saving' : 'Save Contact'}}">
                        <span ng-show="contactForm.$valid" class="glyphicon glyphicon-ok"></span>
                        <span>Save</span>
                    </button>          
                    <a class="btn btn-default" ng-href="#/" role="button">Cancel</a>            
                </div>
            </form>    
        </div>
    </script>
</html>